<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Uni-Track</title>
        <link
                href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
                rel="stylesheet"
        />
    </head>
    <body>
    <div th:insert="fragments :: header"></div>

        <div class="flex min-h-screen">

            <section class="w-full bg-gray-50 py-12 px-4 border-r-4">
                <h1 class="text-4xl md:text-5xl text-green-600 font-bold text-center mb-12">My Projects</h1>

                <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto">

                    <a th:href="@{/projects/new}" class="flex flex-col items-center justify-center rounded-xl bg-white text-gray-500 shadow-md p-8 cursor-pointer hover:shadow-lg transition">
                        <img src="https://www.pngarts.com/files/3/Plus-Symbol-Transparent-Images.png" alt="Add Project" class="w-16 h-16 mb-4" />
                        <p class="text-lg font-semibold">Add New Project</p>
                    </a>

                    <ul>
                        <li th:if="${projects == null || #lists.isEmpty(projects)}">No projects yet</li>
                        <li th:each="project : ${projects}" class="relative flex flex-col rounded-xl bg-white text-gray-700 shadow-md p-6 hover:shadow-lg transition">
                            <a th:href="@{projects/{id}(id=${project.id})}">
                                <h4 class="text-2xl font-semibold text-blue-700" th:text="${project.title}"></h4>
                                <p class="mt-2 text-lg text-gray-600" th:text="${project.description}"></p>
                                <div class="mt-auto pt-4 border-t flex justify-between text-sm text-gray-600">
                                    <span class="font-medium">Deadline:</span>
                                    <span th:text="${project.end}"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>


            <aside class="w-full lg:w-1/4 bg-gray-50 py-12 px-4">
                <h1 class="text-4xl md:text-5xl text-green-600 font-bold text-center mb-8">My Team</h1>


                <a th:href="@{/collaborators/new}" class="flex flex-col items-center justify-center rounded-xl bg-white text-gray-500 shadow-md p-6 mb-8 cursor-pointer hover:shadow-lg transition">
                    <img src="https://www.pngarts.com/files/3/Plus-Symbol-Transparent-Images.png" alt="Add Member" class="w-16 h-16 mb-3" />
                    <p class="text-lg font-semibold">Add New Member</p>
                </a>


                <ul class="space-y-6">
                    <li th:each="collaborator : ${collaborators}" class="relative rounded-xl bg-white shadow-lg border border-gray-200 p-6">
                        <div th:if="${collaborator.id!=currentUser.id}" class="absolute w-5 h-5 top-2 right-2">
                            <form th:action="@{/collaborators/{id}(id=${collaborator.id})}" method="post">
                                <input type="hidden" name="_method" value="delete">
                                <button type="submit">
                                    <img src="https://www.pngmart.com/files/17/Waste-Garbage-Can-Vector-PNG-Clipart.png" />
                                </button>
                            </form>
                        </div>
                        <a th:href="@{/collaborators/{id}(id=${collaborator.id})}">
                            <h4 class="text-2xl font-bold text-gray-800 mb-4" th:text="${collaborator.name}"></h4>

                            <div class="mb-4">
                                <h5 class="text-sm font-semibold text-gray-500 uppercase tracking-wide">Projects</h5>
                                <p class="text-md text-gray-700 mt-1">🛠️
                                <ul class="list-none flex space-x-1">
                                    <li th:each="project : ${collaborator.projects}">
                                        <p th:text="${project}"></p>
                                    </li>
                                </ul>
                                </p>
                            </div>

                            <div>
                                <h5 class="text-sm font-semibold text-gray-500 uppercase tracking-wide">Skills</h5>
                                <p class="text-md text-gray-700 mt-1">
                                <ul class="list-none flex space-x-1">
                                    <li th:each="skill : ${collaborator.skills}">
                                        <p th:text="${skill}"></p>
                                    </li>
                                </ul>
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>

    </body>
</html>