<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${collaborator.fullName}"></title>
    <th:block th:insert="fragments :: head"></th:block>
</head>
<body class="profile-body">

<div th:insert="fragments :: header"></div>

<main class="profile-main">

    <div class="content-split">
        <!-- Profile Card -->
        <section class="profile-card left-panel">
            <img
                    alt="Profile Picture" class="profile-avatar"
                    th:src="${#strings.isEmpty(collaborator.avatarUrl) ? '/icons/profile-icon.png' : collaborator.avatarUrl}"
            />

            <h1 class="profile-name" th:text="${collaborator.fullName}">John Doe</h1>
            <p class="profile-email" th:text="${collaborator.email}">john.doe@example.com</p>

            <div class="profile-badge-wrapper">
                <span class="profile-badge">Collaborator Profile</span>
            </div>
        </section>

        <!-- Right: Sidebar -->
        <aside class="right-sidebar">
            <label class="sidebar-title">Skills</label>
            <ul class="assignees-list">

                <li th:if="${skills == null || #lists.isEmpty(skills)}" class="empty-text">
                    No skills yet
                </li>

                <li th:each="skill : ${skills}">
                    <h3 th:text="${skill}"></h3>
                </li>
            </ul>
        </aside>
    </div>

    <!-- Projects Section -->
    <section class="projects-section">
        <h2 class="projects-title">Workspaces</h2>

        <ul class="project-list three-columns">
            <li th:each="workspace : ${workspaces}" class="project-card" style="width: 90vw; height: 70vh;">
                <a th:href="@{/workspaces/{id}(id=${workspace.workspaceId})}">
                    <div class="project-header">
                        <h3 class="project-name" th:text="${workspace.workspaceName}">Workspace Name</h3>
                    </div>
                    <h3 class="project-desc" th:text="${workspace.workspaceDescription}">Workspace Description</h3>
                </a>
            </li>
        </ul>
    </section>
</main>
</body>
</html>
