<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Error</title>
    <link rel="stylesheet" href="/styles/main.css"/>
</head>
<body class="page">

<!-- Background giant code -->
<div class="error-bg" th:text="${errorCode}">
    500
</div>

<!-- Foreground content -->
<div class="error-card">
    <h1 class="error-title">Oops! Something went wrong</h1>
    <h2 class="error-message" th:text="${message}"></h2>

    <img
            src="https://d2yoo3qu6vrk5d.cloudfront.net/pulzo-lite/images-resized/PP2698773A-h-o.webp"
            alt="Error illustration"
            class="error-img"
    />

    <a href="/" class="home-btn">Go Back Home</a>
</div>
</body>
</html>
