<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="header">
    <header class="header-container">

        <!-- Left: Title -->
        <div class="header-left">
            <a th:href="@{/home}" class="flex-row">
                <img class="logo" th:src="@{/icons/logo-icon.png}" alt="Logo">
                <h1 class="header-title">
                    UniTrack
                </h1>
            </a>
        </div>

        <!-- Center: Subtitle -->
        <h3 class="header-subtitle">
            The most complete team-management tool
        </h3>

        <!-- Profile -->
        <a class="profile-link" th:href="@{/profile}">
            <div class="avatar-wrapper">
                <img th:src="${#strings.isEmpty(currentUser.avatarUrl) ? '/icons/profile-icon.png' : currentUser.avatarUrl}"
                     class="profile-avatar" alt="Profile Picture"/>
            </div>
            <div class="profile-text">
                <h3 th:text="${currentUser.firstName + ' ' + currentUser.lastName}"></h3>
                <p th:text="${currentUser.status}"></p>
            </div>
        </a>

        <!-- Logout -->
        <form class="logout-wrapper" method="post" th:action="@{/logout}">
            <button class="logout-button" type="submit">
                <svg aria-hidden="true"
                     class="logout-icon"
                     fill="none" stroke="currentColor" stroke-linecap="round"
                     stroke-linejoin="round" stroke-width="2"
                     viewBox="0 0 24 24">
                    <path d="M9 21H7a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h2"/>
                    <path d="M16 17l5-5-5-5"/>
                    <path d="M21 12H9"/>
                </svg>
            </button>
        </form>

    </header>
</div>

<th:block th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="icon" th:href="@{/icons/logo-icon.png}" type="image/x-icon"/>
</th:block>

<div th:fragment="confirm-modal" id="confirm-modal" class="confirm-overlay hidden">
    <div class="confirm-box">
        <h3 class="confirm-title">Are you sure?</h3>
        <p class="confirm-message">This action cannot be undone.</p>

        <div class="confirm-actions">
            <button id="confirm-yes" class="confirm-btn danger">Yes</button>
            <button id="confirm-no" class="confirm-btn cancel">Cancel</button>
        </div>
    </div>
</div>

<div th:fragment="client">
    <span class="font-medium">Client:</span>
    <a th:unless="${project.client == null}" th:href="@{/clients/{id}(id=${project.client.id})}">
        <span th:text="${project.client.name}"></span>
    </a>
    <span th:if="${project.client == null}">None</span>
</div>

<div th:fragment="unauthenticated" class="header-container">
        <!-- Left: Title -->
        <div class="header-left flex-row">
            <img class="logo" th:src="@{/icons/logo-icon.png}" alt="Logo">
            <h1 class="header-title">
                UniTrack
            </h1>
        </div>

        <!-- Center: Subtitle -->
        <h3 class="header-subtitle">
            The most complete team-management tool
        </h3>
</div>
</body>
</html>
