<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Uni-Track</title>
    <th:block th:insert="fragments :: head"></th:block>
    <script th:src="@{/js/live-search-panel.js}"></script>
    <script th:src="@{/js/search-pages/workspace-search.js}"></script>
</head>
<body>

<div th:insert="fragments :: header"></div>

<div class="layout">

    <!-- MAIN SECTION -->
    <section class="main">
        <div class="header-row right">
            <h1 class="section-title centered">My Workspaces</h1>
        </div>

        <div class="workspace-grid-wrapper">

            <ul class="workspace-list three-columns">
                <!-- Left: Add Workspace button -->
                <a title="New workspace" class="card add-workspace" th:href="@{/workspaces/new}">
                    <img src="/icons/plus.png" alt="Create Workspace"/>
                    <p>Add New Workspace</p>
                </a>
                <li th:each="workspace : ${workspaces}">
                    <a title="Open workspace" th:href="@{/workspaces/{id}(id=${workspace.id})}" class="workspace-card">

                        <div class="workspace-content">
                            <div class="workspace-header">
                                <h4 class="workspace-title" th:text="${workspace.name}">Workspace Name</h4>
                            </div>

                            <p class="workspace-desc" th:text="${workspace.description}">Workspace description</p>

                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <!-- Right: Sidebar -->
    <aside class="right-sidebar workspace-search-sidebar">
        <label class="sidebar-title">Workspace search</label>

        <div id="workspaceSearchForm" class="search-field-wrapper">
            <input
                    type="text"
                    id="workspaceQuery"
                    name="query"
                    class="live-search-input"
                    data-endpoint="/search/workspace"
                    data-results="workspaceResultsPanel"
                    data-min-length="2"
                    data-debounce="300"
                    autocomplete="off"
            />
        </div>

            <section id="workspaceResultsPanel" class="suggestions-dropdown">
                <p class="empty-text">Start typing to search workspaces…</p>
            </section>

    </aside>

</div>

<div th:insert="fragments :: confirm-modal"></div>
<script src="/js/confirmation.js"></script>
</body>
</html>
