<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Uni-Track</title>
    <th:block th:insert="fragments :: head"></th:block>
</head>
<body>

<div th:insert="fragments :: unauthenticated"></div>

<div class="page">

    <div th:if="${param.logout}" class="logout-text">
        You were logged out. Log in again to keep using the app
    </div>

    <div class="login-wrapper">
        <div class="card-bg yellow-card"></div>
        <div class="card-bg blue-card"></div>

        <div class="login-card">
            <label>Login</label>

            <form method="post" th:action="@{/process-login}">
                <input name="username" type="email" placeholder="Email" class="input">
                <input name="password" type="password" placeholder="Password" class="input">

                <div class="forgot">
                    <a th:href="@{/password/reset}">Forgot your password?</a>
                </div>

                <button type="submit" class="login-btn">Login</button>

                <div class="no-account">
                    <span>No account?</span>
                    <a href="/register">
                        <h5>Create one!</h5>
                    </a>
                </div>
            </form>
            <a href="/oauth2/authorization/google" class="google-btn">
                <img src="/icons/google.svg" alt="Google logo"/>
                <span>Continue with Google</span>
            </a>
            <a href="/oauth2/authorization/github" class="google-btn">
                <img src="/icons/github.svg" alt="GitHub logo"/>
                <span>Continue with GitHub</span>
            </a>
        </div>
    </div>

    <div th:if="${param.error}" class="error-text">
        Wrong credentials
    </div>

</div>

</body>
</html>