<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Uni-Track</title>
    <link rel="stylesheet" href="/styles/main.css" type="text/css"/>
</head>
<body>

<header>
    <div class="header-container">
        <div>
            <h1>Uni-Track</h1>
        </div>

        <h2>The most complete team-management tool</h2>

        <div class="flag-buttons">
            <button><img src="https://wiki2.railml.org/images/b/b8/UK_flag.png" alt="EN"></button>
            <button><img src="https://tse2.mm.bing.net/th/id/OIP.mO2EfRE-TxiZgZ20kE6aOwHaE7?rs=1&pid=ImgDetMain&o=7&rm=3" alt="FR"></button>
        </div>
    </div>
</header>

<div class="page">

    <div th:if="${param.logout}" class="logout-text">
        You were logged out. Log in again to keep using the app
    </div>

    <div class="login-wrapper">
        <div class="card-bg yellow-card"></div>
        <div class="card-bg blue-card"></div>

        <div class="login-card">
            <label>Login</label>

            <form method="post" th:action="@{/process-login}">
                <input name="username" type="email" placeholder="Email" class="input">
                <input name="password" type="password" placeholder="Password" class="input">

                <div class="forgot">
                    <a th:href="@{/forgot-password}">Forgot your password?</a>
                </div>

                <button type="submit" class="login-btn">Login</button>

                <div class="no-account">
                    <span>No account?</span>
                    <h5>Ask your employer for credentials</h5>
                </div>
            </form>
        </div>
    </div>

    <div th:if="${param.error}" class="error-text">
        Wrong credentials
    </div>

</div>

</body>
</html>