<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Uni-Track</title>
    <th:block th:insert="fragments :: head"></th:block>
</head>
<body>

<div th:insert="fragments :: header"></div>

<h1 class="page-title">My messages</h1>

<div class="page-container">
    <ul class="column">
        <li th:if="${#lists.isEmpty(messages)}">No messages yet</li>

        <li class="message-wrapper" th:data-id="${message.id}" th:each="message : ${messages}">
            <div class="message-card">

                <div class="message-actions">
                    <form method="post" th:if="${message.type == T(com.unitrack.dto.MessageType).INVITATION}" th:action="@{/invitations/{id}/accept(id=${message.id})}">
                        <button type="submit" class="message-action-btn message-accept-btn">Accept</button>
                    </form>

                    <form method="post" th:if="${message.type == T(com.unitrack.dto.MessageType).JOIN_REQUEST}" th:action="@{/join-requests/{id}/accept(id=${message.id})}">
                        <button type="submit" class="message-action-btn message-accept-btn">Accept</button>
                    </form>
                    <form method="post" th:action="@{/messages/{id}(id=${message.id})}">
                        <input name="_method" type="hidden" value="delete">
                        <button type="submit" class="message-action-btn message-confirm-delete" title="Delete">
                            <img src="/icons/trash.png"/>
                        </button>
                    </form>
                </div>

                <p class="message-box top">
                    <h4 class="message-title" th:text="${message.sender.name}"></h4>
                    <p class="message-desc" th:text="${message.text}"></p>
                </p>

            </div>
        </li>
    </ul>
</div>
</body>
</html>