<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Project</title>
    <th:block th:insert="fragments :: head"></th:block>
</head>
<body>
<div th:insert="fragments :: header"></div>

<form class="project-form two-columns" method="post" th:action="@{/projects/new}" th:object="${projectForm}" id="projectForm">
    <!-- LEFT -->
    <div class="form-left">
        <h1 class="section-title">New Project</h1>

        <label>Project title</label>
        <input class="input" placeholder="Title" th:field="*{title}" type="text" required maxlength="255"/>

        <label>Project description</label>
        <input class="input" placeholder="Description" th:field="*{description}" type="text" maxlength="255"/>

        <label class="label-strong">Select the client</label>
        <select th:field="*{client}" class="select">
            <option value="" disabled selected>Select the client</option>
            <option th:each="client : ${clients}"
                    th:value="${client.name}"
                    th:text="${client.name}">
            </option>
        </select>

        <label for="newClient">Or register a new one</label>
        <input th:field="*{newClient}" id="newClient" type="text" class="input-field" maxlength="255"/>

        <label>Start Date</label>
        <input class="input" th:field="*{start}" type="date" required/>

        <label>Deadline</label>
        <input class="input" th:field="*{deadline}" type="date" required/>

        <label class="label-strong">Add Collaborator</label>
        <select id="collabPicker" class="select" onchange="addAssignee(this)">
            <option value="" disabled selected>Select a collaborator</option>
            <option th:each="collaborator, i : ${collaborators}"
                    th:value="${collaborator.id}"
                    th:text="${collaborator.name}">
            </option>
        </select>

        <button class="submit-btn" type="submit">Submit</button>
    </div>

    <!-- RIGHT -->
    <div class="form-right">
        <label class="label-strong">Current Assignees</label>

        <ul id="assignees-list">
            <li class="assignee" th:each="assignee, iterStat : ${assignees}">

            </li>
        </ul>
    </div>
</form>

<script th:inline="javascript">
    const collaborators = [[${collaborators}]];
</script>
<script src="/js/new-project.js"></script>
</body>
</html>
