<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>New Task</title>
        <link
                href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
                rel="stylesheet"
        />
    </head>
    <body>
        <div th:insert="fragments :: header"></div>
        <div>
            <h1 class="text-4xl md:text-5xl text-green-600 font-bold text-center mb-12 mt-5">New task</h1>

            <form th:action="@{/tasks?projectId={projectId}(projectId=${projectId})}" th:object="${taskForm}" method="post" class="flex flex-col gap-4 p-4 max-w-xl">
                <label>Task title</label>
                <input th:field="*{title}" type="text" placeholder="Title" class="p-2 border rounded"/>

                <label>Task description</label>
                <input th:field="*{description}" type="text" placeholder="Description" class="p-2 border rounded"/>

                <label>Deadline</label>
                <input th:field="*{deadline}" type="datetime-local" class="p-2 border rounded"/>

                <label>Assignees</label>
                <div th:each="collaborator, iterStat : ${collaborators}" class="flex items-center gap-2">
                    <input type="checkbox" th:name="assignees[__${iterStat.index}__]" th:value="${collaborator.id}" />
                    <span th:text="${collaborator.name}"></span>
                </div>

                <button type="submit" class="mt-4 bg-blue-600 text-white p-2 rounded">Submit</button>
            </form>
        </div>

    </body>
</html>