.comment-edit-btn,
.comment-delete-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 8px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    border-radius: 1rem;
    border-width: 1px;
    border-color: rgb(229,231,235);
    background-color: rgb(255,255,255);
    padding: 1.5rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0,0,0,0.1), 0 2px 4px -2px rgb(0,0,0,0.1);
}

.cancel-btn {
    border-radius: 0.5rem;
    background-color: rgb(156,163,175);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: rgb(31,41,55);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.comment-card {
    border-radius: 1rem;
    border-width: 1px;
    border-color: rgb(229,231,235);
    background-color: rgb(255,255,255);
    padding: 1.5rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0,0,0,0.1), 0 2px 4px -2px rgb(0,0,0,0.1);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    width: 70%;
}

.comment-list {
    max-height: 450px;
    overflow-y: auto;
    padding-right: 5px;
}