
/* Forgot password */
.forgot {
    margin-top: 20px;
    text-align: right;
}

.forgot a {
    font-size: 14px;
    text-decoration: underline;
    color: #666;
    transition: color 0.2s;
}

.forgot a:hover {
    color: #111;
}

/* Login button */
.login-btn {
    width: 100%;
    padding: 14px 0;
    border: none;
    background: #3b82f6;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.login-btn:hover {
    transform: translateX(-4px) scale(1.05);
    box-shadow: inset 0 0 15px rgba(0,0,0,0.3);
}

/* No account text */
.no-account {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #666;
}

    /* Alerts */
    .error-text, .logout-text {
    margin: 20px 0;
    color: red;
    font-weight: 600;
}


.login-wrapper {
     position: relative;
     width: 100%;
     max-width: 350px;
}

/* Background rotated cards */
.card-bg {
     position: absolute;
     width: 100%;
     height: 100%;
     border-radius: 25px;
     box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.yellow-card {
     background: #facc15;
     transform: rotate(-6deg);
}

.blue-card {
     background: #60a5fa;
     transform: rotate(6deg);
}

 /* Login card */
.login-card {
     position: relative;
     background: #f3f3f3;
     padding: 24px;
     border-radius: 25px;
     box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.login-card label {
    display: block;
    margin-top: 12px;
    font-size: 14px;
    color: #444;
    text-align: center;
    font-weight: 600;
}